[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.svd.meta
*.pdb.meta
*.mdb.meta
*.opendb.meta
*.VC.db.meta
*.unitypackage
/[Aa]ssets/Plugins/Android/*/*.gradle
/[Aa]ssets/Plugins/Android/*/gradle-wrapper.jar
/[Aa]ssets/Plugins/Android/*/gradle-wrapper.properties
